@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 222.2 47.4% 10.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --font-vazirmatn: "Vazirmatn", sans-serif;
  --radius: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --input: 217.2 32.6% 17.5%;
    --ring: 210 40% 98%;
  }
}

body {
  direction: rtl;
  font-feature-settings: "rlig" 1, "calt" 1;
  font-family: var(--font-vazirmatn);

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

html,
body,
#app {
  overscroll-behavior-y: none;
  touch-action: pan-x pan-y;
}

pre,
code,
pre * {
  direction: ltr;
}

.katex-display {
  display: block;
  overflow-x: auto;
  direction: ltr;
  font-size: large;
}

.katex {
  overflow-x: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 100%;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted));
  border-radius: 999px;
}

@layer utilities {
  .-top-safe-10 {
    top: calc(env(safe-area-inset-top) - 10px);
  }

  .top-safe {
    top: env(safe-area-inset-top);
  }

  .bottom-safe {
    bottom: env(safe-area-inset-bottom);
  }

  .top-safe-20 {
    top: calc(env(safe-area-inset-top) + 20px);
  }

  .bottom-safe-20 {
    bottom: calc(env(safe-area-inset-bottom) + 20px);
  }

  .top-safe-34 {
    top: calc(env(safe-area-inset-top) + 34px);
  }

  .bottom-safe-34 {
    bottom: calc(env(safe-area-inset-bottom) + 34px);
  }

  .top-safe-44 {
    top: calc(env(safe-area-inset-top) + 44px);
  }

  .bottom-safe-44 {
    bottom: calc(env(safe-area-inset-bottom) + 44px);
  }

  .top-safe-3\/1 {
    top: calc(3 * env(safe-area-inset-top));
  }

  .bottom-safe-3\/1 {
    bottom: calc(3 *env(safe-area-inset-bottom));
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe--20 {
    padding-top: calc(env(safe-area-inset-top) - 20px);
  }

  .pb-safe--20 {
    padding-bottom: calc(env(safe-area-inset-bottom) - 20px);
  }

  .pt-safe--16 {
    padding-top: calc(env(safe-area-inset-top) - 16px);
  }

  .pb-safe--16 {
    padding-bottom: calc(env(safe-area-inset-bottom) - 16px);
  }

  .pt-safe-10 {
    padding-top: calc(env(safe-area-inset-top) + 10px);
  }

  .pb-safe-10 {
    padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
  }

  .pt-safe-20 {
    padding-top: calc(env(safe-area-inset-top) + 20px);
  }

  .pb-safe-20 {
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
  }

  .py-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .py-safe-20 {
    padding-top: calc(env(safe-area-inset-top) + 20px);
    padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
  }

  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }

  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }

  .mt-safe-20 {
    margin-top: calc(env(safe-area-inset-top) + 20px);
  }

  .mb-safe-20 {
    margin-bottom: calc(env(safe-area-inset-bottom) + 20px);
  }

  .mt-safe-30 {
    margin-top: calc(env(safe-area-inset-top) + 30px);
  }

  .mb-safe-30 {
    margin-bottom: calc(env(safe-area-inset-bottom) + 30px);
  }

  .mt-safe-40 {
    margin-top: calc(env(safe-area-inset-top) + 40px);
  }

  .mb-safe-40 {
    margin-bottom: calc(env(safe-area-inset-bottom) + 40px);
  }

  .my-safe {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
  }

  .-mt-safe {
    margin-top: -env(safe-area-inset-top);
  }

  .-mb-safe {
    margin-bottom: -env(safe-area-inset-bottom);
  }
}